<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head'); %>
        <%- include('../webaudioapi/webaudiojs'); %> 
        <% if (email) 
            console.log('welcome ' + email)
        %> 
        <% if (data) { %>
            <script>
                var data = '<%-JSON.stringify(data)%>'
                var btndata = data;
                console.log('ur button data is : ' + btndata)
            </script>
        <%}%>
         
    </head>
<body>
    <canvas id="visualizer"></canvas>
<div class="container">
    
    <!-- <input type="text" name="" id="loggedemail" value="" hidden> -->
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo center">Livebuddy</a>
          <ul class="left hide-on-med-and-down">
            <!-- <li id="scenes" class="active" onclick="redirect('scenes')">Scenes</a></li>
            <li id="deck" onclick="redirect('deck')"><a href="sdeck">Deck</a></li>
            <li id="mixer" onclick="redirect('mixer')"><a href="mixer">Mixer</a></li> -->
          </ul>
        </div>
        <form action="/logout?_method=DELETE" method="post">
            <button class="w3-button w3-yellow w3-padding-large w3-large w3-margin-top" type="submit">Log Out</button>
        </form>
    </nav>

    
    
    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Prototype</h1>
        <p class="w3-xlarge">Scene Switcher</p>
        <video id="videoElement" width="600px" height="400px" muted="muted"></video>
    
        <input type="text" placeholder="IP address" id="ipaddress" name="ipaddress" required/>
        <input type="password" placeholder="Password" id="password" name="password" required/>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="obscon()">Connect</button>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="openpreview()">Open Preview</button>
        <div id="scene_list"></div>
    </header>

    <!-- Deck Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <h1>Deck Prototype</h1>
            <h5 class="w3-padding-32"></h5>
            <div class="row">
                <form action="/deck" method="post">
                    <div class="col s2 m2 l2">
                        <p>
                            <label>
                            <input class="with-gap radiodeck" name="deckselect" type="radio"  id="selecttrans"/>
                            <span>Add Transition</span>
                            </label>
                        </p>
                        
                    </div>
                    <div class="col s4 m4 l4" >
                        <label>Your Scenes</label>
                        <select onchange="svaluechange()" class="browser-default" id="stran_list">
                            <option name="tvalue" id="tvalue" value="">Choose your scenes</option>
                        </select>
                    </div>
                    <input type="text" name="sname" id="sname" value="" hidden />
                    <input type="text" name="stype" id="stype" value="" hidden />
                    <div class="col s4 m4 l4">
                        <button type="submit" name="submit" class="waves-effect waves-light" value="adddeck" id="transbutton" onclick="addscene()">add transition</button>
                    </div>
                    
                </form>
            </div>
            <div class="row" >
                <div class="col s2 m2 l2">
                    <p>
                        <label>
                          <input class="with-gap radiodeck" name="deckselect" type="radio"  id="selectmedia"/>
                          <span>Add Media Play</span>
                        </label>
                    </p>
                </div>

                <div class="col s4 m4 l4">
                    <label>Your Media</label>
                    <select class="browser-default" id="media_list" disabled>
                        <option value="" disabled selected>Choose your media to play</option>
                    </select>
                </div>
                <div class="col s4 m4 l4">
                    <button type="submit" name="submit" class="waves-effect waves-light" value="adddeck" id="mediabutton" onclick="addmedia()" disabled>add media play</button>
                </div>
            </div>
            <div class="row">
                
            </div>
                
                <!-- <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="streamstop()">Stop Stream</a></div> -->
                <!-- <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="togglemic()">toggle mic</a></div> -->
            <div class="row" id="deckadd">
                <!-- <div class="col s4 m4 l4"><a id="rec" class="waves-effect waves-light btn-large ww" onclick="recstart()"> Record</a></div> -->
                <!-- <div class="col s4 m4 l4" onclick="recstop()"><a class="waves-effect waves-light btn-large ww">Stop Record</a></div> -->
                <!-- <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="vsauce()">V-sauce</a></div> -->
            </div>
            <div class="row">
                <!-- <div><button onclick="createButton()">create</button></div> -->
                <!-- <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="punch()">punch</a></div> -->
                <!-- <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="etu()">ETU</a></div> -->
                <!-- <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="end()">ending</a></div> -->
            </div>
        </div>
            
        </div>
    </div>
    
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <h1>Deck Prototype</h1>
            <h5 class="w3-padding-32"></h5>
            <form action="/deck" method="post">
            <div class="row">
                
                <div class="col s4 m4 l4"><button type="submit" name="submit" value="startstream" class="waves-effect waves-light btn-large ww" onclick="streamstart()">Start Stream</button></div>
                <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="streamstop()">Stop Stream</a></div>
                <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="togglemic()">toggle mic</a></div>
            </div>
            <div class="row">
                <div class="col s4 m4 l4"><a id="rec" class="waves-effect waves-light btn-large ww" onclick="recstart()"> Record</a></div>
                <div class="col s4 m4 l4" onclick="recstop()"><a class="waves-effect waves-light btn-large ww">Stop Record</a></div>
                <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="vsauce()">V-sauce</a></div>
            </div>
            <div class="row">
                <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="punch()">punch</a></div>
                <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="etu()">ETU</a></div>
                <div class="col s4 m4 l4"><a class="waves-effect waves-light btn-large ww" onclick="end()">ending</a></div>
            </div>
            <p class="w3-text-grey">This is a deck prototype
            </form>
        </div>
    </div>


    
    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>
    
        <div class="w3-twothird">
            <h1>Mixer Prototype</h1>
            <!-- <h5 class="w3-padding-32">Audio Mixer Prototype</h5>
            <div class="row">
                <div class="col s2">
                    <button class="waves-effect waves-light btn-testplay" onclick="test()">Test Play</button>
                </div>
                
            </div>
            <div class="row">
                <div class="col s12">
                    <h5 class="w3-padding-32">Play from File</h5>
                </div>
                <div class="col s3">
                    <button class="waves-effect waves-light fplay" onclick="fplay()">Play File</button>
                </div>
                <div class="col s3">
                    <button class="waves-effect waves-light fplay" onclick="fpause()">Pause File</button>
                </div>
                <div class="col s3">
                    <button class="waves-effect waves-light fplay" onclick="fstop()">Stop File</button>
                </div>
                <div class="col s3">volume<input id="fvolume" type="range" min="0" max="1000" name="" oninput="fvolumechange()"/></div>
                
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="waves-effect waves-light fplay" onclick="mic()">Mic test</button>
                </div>
                <div class="col s12">
                    <button class="waves-effect waves-light fplay" onclick="record()">Record Mic</button>
                </div>
            </div>
            <div class="row">
                
            </div>

            

            <div class="row">
                <div class="col s3">
                    <button class="waves-effect waves-light fplay" onclick="delay()">toggle delay</button>
                </div>
                <div class="col s3">
                    <button class="waves-effect waves-light fplay" onclick="distort()">toggle distortion</button>
                </div>
                
            </div>

            <div class="row">
                <div class="col s12">
                    Distortion Gain<input id="dgain" type="range" min="0" max="1000" name="" oninput="dischange()"/>
                </div>
            </div>
            
            <div class="row">
                
                <div class="col s5">
                    <input type="file" id="upload"/>
                    <form action="">
                        <input type="file" accept="audio/*" id="myFile" name="filename">
                        <input type="submit">
                    </form>
                    <input type="file" accept="audio/*">
                    <audio id="audio" controls>
                        <source src="" id="src" />
                    </audio>
                    <p class="p">The URL of this audio is : </p>
                </div>
                <div class="col s3">
                    <audio id="audio" controls>
                        <source src="" id="src" />
                    </audio>
                </div>
                <div class="col s12">
                    <label for="volume">Volume</label>
                    <input type="range" id="volume" min="0" max="1" value=".5" step=".01">
                </div>
                <div class="col s12">
                    <label for="bass">Bass</label>
                    <input type="range" min="-10" max="10" value="0" id="bass" >
                </div>
                <div class="col s12">
                    <label for="mid">Mid</label>
                    <input type="range" min="-10" max="10" value="0" id="mid" >
                </div>
                <div class="col s12">
                    <label for="treble">Treble</label>
                    <input type="range" min="-10" max="10" value="0" id="treble" >
                </div>
                <div class="col s12">
                    <label for="reverb">Reverb</label>
                    <input type="range" min="-10" max="10" value="0" id="reverb" >
                </div>
            </div> -->

            <!-- The basic hard coded functions -->
            <button id="susresBtn" onclick="susres()">Resume Context</button>
            <div class="col s12">
                <button class="waves-effect waves-light fplay" id="openMic" onclick="setupContext()">open mic</button>
            </div>
            <div class="col s12">
                <label for="volume">Volume</label>
                <input type="range" id="volume" min="0" max="1" value=".5" step=".01">
            </div>
            <div class="col s12">
                <label for="bass">Bass</label>
                <input type="range" min="-10" max="10" value="0" id="bass" >
            </div>
            <div class="col s12">
                <label for="mid">Mid</label>
                <input type="range" min="-10" max="10" value="0" id="mid" >
            </div>
            <div class="col s12">
                <label for="treble">Treble</label>
                <input type="range" min="-10" max="10" value="0" id="treble" >
            </div>
            
            <button id='compress' onclick='addcompress()'>Add compression</button><br>
            <!-- minimum threshold -->

            <div class="row">
                <div class="col s6">
                    <label for="threshold">Threshold</label>
                    <input id='Threshold' type='range' min=-100 max=0 value=-20>
                </div>
                <div class="col s6">
                    <label for="Knee">Knee</label>
                    <input id='Knee' type='range' min=0 max=40 value=0>
                </div>
            </div>
           
            <div class="row">
                <div class="col s6">
                    <label for="Attack">Attack</label>
                    <input id='Attack' type='range' min=0 max=1000 value=0>
                </div>
            
                <div class="col s6">
                    <label for="Release">Release</label>
                    <input id='Release' type='range' min=0 max=1000 value=5>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <label for="Ratio">Ratio</label>
                    <input id='Ratio' type='range' min=1 max=20 value=12>
                </div>
            </div>
        
            <!-- range between threshold to this value where compression are applied -->

            
            <!-- starting to build the planned audio mixer -->
            <h2>Add Effect</h2>
            <br>
            <select class="browser-default" id="effect_list">
                <option name="effectvalue" id="effectvalue" value="" disabled>add effects to your microphone input</option>
                <option name="effectvalue" id="effectvalue" value="reverb">reverb</option>
                <option name="effectvalue" id="effectvalue" value="compressor">compressor</option>
                <option name="effectvalue" id="effectvalue" value="stereo panner">stereo panner</option>
                <option name="effectvalue" id="effectvalue" value="distortion">distortion</option>
                <option name="effectvalue" id="effectvalue" value="delay">delay</option>
            </select>
            <br>
            <button onclick="addeffect()">add effect</button>

            <div id="mixerPad"></div>

            <button id="btnOutList" onclick="btnOutList()">get list of outputs</button>

            <!-- <h2>Set stereo panning</h2>
            <input
                class="panning_control"
                type="range"
                min="-1"
                max="1"
                step="0.1"
                value="0"
            />
            <span class="panning_value">0</span> -->

            <h2>Set distortion</h2>

            <input
                id="dist_control"
                type="range"
                min="0"
                max="100"
                step="1"
                value="0"
            />
            <span id="dist_value">0</span>

            <h2>Set Delay</h2>
            
            <div class="row">
                <div class="col s2">
                    <label for="delay_control">Delay</label>
                </div>
                <div class="col s8">
                    <input
                    id="delay_control"
                    type="range"
                    min="0"
                    max="1"
                    step="0.01"
                    value="0"
                    />
                </div>
                <div class="col s2">
                    <span class="delay_value">0</span>
                </div>
            </div>
            
            <div class="row">
                <div class="col s2">
                    <label for="feedback_control">Feedback</label>
                </div>
                <div class="col s8">
                    <input
                    id="feedback_control"
                    type="range"
                    min="0"
                    max="1"
                    step="0.01"
                    value="0"
                    />
                </div>
                <div class="col s2">
                    <span class="feedback_value">0</span>
                </div>
            </div>
            
            <button id="btnDelay" onclick="toggleDelay()">activate delay</button>

            <h2>Play from file</h2>
            <!-- <button>select file</button> -->

            <!-- <label for="audioFileChooser">Upload an audio file: </label><br><br> -->
            <input  id="audioFileChooser" type="file" onchange="readFile(this.files);">
            <div id="fileplayer"></div>
            <script>
                
            </script>

        </div>      
        </div>
    </div>

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Prototype mixer</h1>
   
    
</body>
</html>


    
    
    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
        <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <a href="/sdeck">test</a>
    </div>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
</div>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
</script>

</body>
<!-- <script src="/javascript/audio.js"></script> -->
<script src="/javascript/webaudioapi.js"></script>

<script>
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('videoElement');
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: 'http://localhost:8000/live/TestStream.flv'
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }

    readData(btndata)
</script>
</html>
